@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color:rgb(216, 234, 250);
   
}

button{
        color: black;
        background-color:rgb(158, 196, 229);
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        display: flex;
        margin: 1.5em;
}

.h1{
    color: black;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
    
}

.titulo{
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: 100;
}

ul li {
    text-align: center;
    padding: 12px;
    flex-grow: 1;
}

button:hover{
    transform: scale(1.1);
    background-color: azure
}

.logo{
    width:12%; 

}
#Acción{
    margin-left: 10em;
}

#Ciencia-Ficción{
    margin-left: 10em;
}

#Comedias{
    margin-left: 10em;
}

#Dramas{
    margin-left: 10em;
}

#Musicales{
    margin-left: 10em;
}

#Románticas{
    margin-left: 10em;
}

#Terror{
    margin-left: 10em;
}

#Fantásticas{
    margin-left: 10em;
}